---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: docker-registry
data:
  config.yml: |
    version: 0.1
    log:
      level: info
      fields:
        service: registry
    storage:
      redirect:
        disable: true
      s3:
        region: us-east-1
        regionendpoint: http://goldentooth-storage-filer.seaweedfs.svc.cluster.local:8333
        bucket: harbor-registry
        secure: false
        v4auth: true
      delete:
        enabled: true
      cache:
        blobdescriptor: inmemory
    http:
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]
      tls:
        certificate: /certs/tls.crt
        key: /certs/tls.key
    health:
      storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
