---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - certificate.yaml
  - registry-s3-secret.yaml
  - config.yaml
  - deployment.yaml
  - service.yaml
