---
apiVersion: v1
kind: Service
metadata:
  name: docker-registry
  namespace: docker-registry
  annotations:
    # External DNS will create registry.goldentooth.net A record
    external-dns.alpha.kubernetes.io/hostname: registry.goldentooth.net
  labels:
    app: docker-registry
spec:
  type: LoadBalancer
  selector:
    app: docker-registry
  ports:
    - name: https
      port: 443
      targetPort: 5000
      protocol: TCP
