---
# HelmRepository for Prometheus Operator
# Provides the operator that manages Prometheus instances declaratively via CRDs
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: flux-system
spec:
  interval: 1h
  url: https://prometheus-community.github.io/helm-charts
